# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.sln
*.suo
*.opensdf
*.sdf
*.ipch
*.log
*.tlog
*.pdb
*.dll
*.exe
Build/
*.user
*.userprefs
Config/DefaultEditorPerProjectUserSettings.ini
Config/DefaultEditorUserSettings.ini

# Cursor specific
.cursor/

# Clangd specific
.clangd
.clang-format
